@Test public void login() {
	String user = "joe";
	HttpServletRequest req = getStubRequest("user", user);
	HttpServletResponse res = getStubResponse();

	servlet.service(request, response);

  	HttpSession session = request.getSession();
  	String found = session.getAttribute("user");
 	assertEquals( "deveria retornar 'joe'", user, found );
}