public void cancelar( Pedido pedido ) {
	// valida umas coisas, pega alguns dados, e ...
	if ( pedido.status.equals( AGUARDANDO ) ) {
		if ( pedido.getData() > _90dias )
		// varios set's + avisa ao gerente  
	}
	
	Protocolo protocolo = new Protocolo(); 
	// varios set's e outras bizarrices
	// varias regras e persiste no DAO
}