@Test public void levarAstroVeterinario() {
	rosie.levarAstro( veterinario );
	assertThat( astro, seEncontra(veterinario) );
}
public void levarAstro(Local local, Nave nave) {
	astro.colocar( coleira, rosie );
	Taxista taxista = telelista.getTaxi();
	this.pedir( taxista, local );
}