@Test public void stubbingMetodos() {
	List<String> listaMock = mock( List.class );
	when( listaMock.get(0) ).thenReturn( "first" );
	
	System.out.println( listaMock.get(0) );
	System.out.println( listaMock.get(999) );
}