@Test public void stubbingMetodos() {
	List<String> listaMock = Mockito.mock( List.class );
	Mockito.when( listaMock.get(0) ).thenReturn( "first" );
	
	String resultado = listaMock.get(0);
	assertThat( resultado, is("first") );
	
	String tentativa = listaMock.get(999);
	assertNull( tentativa );
}